
Library/
Logs/
Temp/
.idea/
obj/
UserSettings/
UserSettings/Layouts/default-2022.dwlt
*.sln
*.vsidx
.vs/
com.hauntedpsx.render-pipelines.psx.Editor.csproj
com.hauntedpsx.render-pipelines.psx.Runtime.csproj
Assembly-CSharp.csproj
